 
.border-top{
    border-top: 1px solid rgba(255, 255, 255, 0.33) !important;
}
.social__links {
    
    li {
        margin-bottom: 0; 
        a {
            width: 2.5rem;
            height: 2.5rem;border-radius: 3px;
            background-color: var(--white); 

            svg { width: 1rem;height: 1rem;fill: var(--brand-deep); }

            &:hover, &:focus {
                background-color: var(--secondary);color: var(--white);

                svg {
                    fill: white;
                }
            }
        } 
    }
    &.footer {
        li a {
            background-color: var(--dark);
            &:hover, &:focus {
                background-color: var(--brand);color: var(--white);
            }
        }
    }
}

footer {
    a {
        color: var(--white);font-weight: 500;

        &:hover, &:focus {
            color: var(--brand);
        }
    }
}
 

// .social__links {
//     &.footer { max-width: 260px; }
//     li {
//         margin-bottom: 0; 
//         a {
//             width: 2rem;
//             height: 2rem;border-radius: 3px;
//             background-color: var(--white);
//             color: var(--white);

//             svg { width: 1rem;height: 1rem; 
//                 path {
//                     fill: var(--dark);
//                 }
//             }

//             &:hover, &:focus {
//                 background-color: #C4E538;color: var(--white);
//             }
//         }

//         &:not(:first-child) {
//             margin-left: .5rem;
//         }
//     } 
// }


/*---------------------- Back to Top Css --------------*/ 
.backTop { 
    bottom: 1rem;
    right: 1rem;
    width: 3rem;min-height: auto;
    height: 3rem; 
    background-color: var(--brand);
    z-index: 999; 
    display: none;border: 2px solid var(--white); 
 
    &:hover, &:focus, &:active { 
        background-color: var(--dark); 
    }
    &.show {
        display: flex;
    }
}
 
@media (max-width: 575.99px) {
    footer { 
         
        .logo img { max-height: 3rem;width: auto; }
    }
}